<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="ko">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta http-equiv="imagetoolbar" content="no" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="format-detection" content="telephone=no" />
  <link rel="stylesheet" href="/css/setting.css" />
  <link rel="stylesheet" href="/css/plugin.css" />
  <link rel="stylesheet" href="/css/template.css" />
  <link rel="stylesheet" href="/css/style.css" />
</head>

<body>
  <div class="th-layout-header">
    <header class="butti-N1" id="cLM4QoJyIK">
    </header>
  </div>
  <main class="th-layout-main">
    <div class="th-layout-sideleft"></div>
    <div class="th-layout-stickyleft"></div>
    <div class="th-layout-content">
      <section class="butti-N10" id="TRm4QOJym7">
      </section>
      <section class="butti-N12" id="Efm4qoJyQA">
        <div class="contents-container container-md">
          <div class="title-area">
            <h2 class="p1">ISFP(선택한 MBTI)</h2>
            <p class="h1">감성적이고 예술적인 ISFP에게는 독창적이고 따뜻한 감성을 담은 영화가 어울립니다. (MBTI 설명)</p>
          </div>
        </div>
      </section>
      <section class="butti-N24" id="ukm4qojytv">
        <h2 class="blind">추천 영화</h2>
        <div class="contents-container container-md">
          <div class="contents-inner">
            <div class="cardset cardset-xl cardset-hor">
              <figure class="cardset-figure">
                <img class="cardset-img" src="/images/amerie.jpg" alt="카드 이미지" />
              </figure>
              <div class="cardset-body">
                <strong class="cardset-tit h3">아멜리에</strong>
                <p class="cardset-desc p1" style="text-align: left;">아멜리에는 프랑스 파리의 감성적인 배경에서 일어나는 소소한 이야기들이 ISFP의 감성적인 성향을 잘 반영합니다. 🌷<br /><br />개봉 2001.10.19.<br />장르 코미디, 판타지, 멜로/로맨스<br />러닝타임 121분<br /><br />[보러가기 버튼]</p>
              </div>
            </div>
            <div class="cardset cardset-xl cardset-hor">
              <figure class="cardset-figure">
                <img class="cardset-img" src="/images/wilteo.jpg" alt="카드 이미지" />
              </figure>
              <div class="cardset-body">
                <strong class="cardset-tit h3">월터의 상상은 현실이 된다.</strong>
                <p class="cardset-desc p1">호기심이 많은 예술가인 ISFP는 언제나 변화와 혁신 그리고 예술을 추구합니다. 상상력이 현실로 일어나는 영화 '윌터의 상상은 현실이 된다'를 추천합니다.<br /><br />개봉 2013.12.31.<br />장르 모험, 드라마, 판타지<br />러닝타임 114분<br /><br />[보러가기 버튼]</p>
              </div>
            </div>
            <div class="cardset cardset-xl cardset-hor">
              <figure class="cardset-figure">
                <img class="cardset-img" src="/images/geuraendeu budapeseuteu.jpeg" alt="카드 이미지" />
              </figure>
              <div class="cardset-body">
                <strong class="cardset-tit h3">그랜드 부다페스트 호텔</strong>
                <p class="cardset-desc p1">독특한 비주얼과 유머가 가득한 이 영화는 두 주인공의 우정과 모험을 그려내. ISFP는 예술적인 요소를 좋아하기 때문에, 이 영화의 독창적인 스타일과 매력적인 캐릭터들이 큰 즐거움을 줄 것 입니다!<br /><br />개봉 2018.10.11.<br />장르 모험, 미스터리<br />러닝타임 100분<br /><br />[보러가기 버튼]</p>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
    <div class="th-layout-stickyright"></div>
    <div class="th-layout-sideright"></div>
  </main>
  <div class="th-layout-footer">
    <footer class="butti-N3" id="Ejm4qojywZ">
      <div class="modalset modalset-md" data-modal-id="footer-email-modal">
        <div class="modalset-content">
          <div class="modalset-body">
            <div class="modalset-textarea">
              <div class="info-area">
                <div class="info-group">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modalset modalset-md" data-modal-id="footer-privacy-modal">
        <div class="modalset-content">
          <div class="modalset-body">
            <div class="modalset-textarea">
            </div>
          </div>
        </div>
      </div>
    </footer>
  </div>
  <script src="./resources/js/setting.js"></script>
  <script src="./resources/js/plugin.js"></script>
  <script src="./resources/js/template.js"></script>
  <script src="./resources/js/style.js"></script>
</body>

</html>